apiVersion: v1
kind: Service
metadata:
  name: webgoat-service
  namespace: default
  labels:
    app: webgoat
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8080"
spec:
  selector:
    app: webgoat
  type: LoadBalancer
  ports:
  - name: http-port
    protocol: TCP
    port: 8080
    targetPort: 8080
  - name: admin-port
    protocol: TCP
    port: 9090
    targetPort: 9090
