name: Docker Scout Security Scan

on:
  push:
    branches:
      - main

jobs:
  docker_scout_scan:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
      actions: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: enriquitotupapi
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Docker image with the correct tag
        run: docker pull enriquitotupapi/webgoat:main  # Use the 'main' tag instead of 'latest'

      - name: Install Docker Scout CLI
        run: |
          # Download the Docker Scout CLI tarball from the correct URL
          curl -L -o docker-scout.tar.gz https://github.com/docker/scout-cli/releases/download/v1.15.1/docker-scout_1.15.1_darwin_amd64.tar.gz
          
          # Check if the file is downloaded correctly
          ls -lh docker-scout.tar.gz
          if [ $(stat -c %s docker-scout.tar.gz) -lt 100 ]; then
            echo "Error: The downloaded file is too small. Check the URL."
            exit 1
          fi
          
          # Extract the tar.gz file
          tar -xzvf docker-scout.tar.gz
          
          # Move docker-scout binary to /usr/local/bin for global use
          sudo mv docker-scout /usr/local/bin

      - name: Run Docker Scout Security Scan
        run: |
          docker scout cve --image enriquitotupapi/webgoat:main --format json > scout-report.json

      - name: Upload Docker Scout Report
        uses: actions/upload-artifact@v3
        with:
          name: scout-report
          path: scout-report.json
