name: Docker Scout CVE Scan

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Install Docker Scout CLI
      run: |
        curl -sSfL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh | sh -s --

    - name: Pull WebGoat image
      run: docker pull enriquitotupapi/webgoat:main

    - name: Run Docker Scout CVE scan
      run: |
        docker scout cves enriquitotupapi/webgoat:main --format json --output scout-report.json

    - name: Upload scan report as artifact
      uses: actions/upload-artifact@v3
      with:
        name: scout-report
        path: scout-report.json
