name: Docker Scout Security Scan

on:
  push:
    branches:
      - main

jobs:
  docker_scout_scan:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
      actions: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: enriquitotupapi
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Docker image
        run: docker pull enriquitotupapi/webgoat

      - name: Install Docker Scout CLI
        run: |
          curl -sSL https://github.com/docker/scout-cli/releases/download/v0.7.0/docker-scout-linux-amd64-0.7.0.tar.gz | tar -xz
          sudo mv docker-scout /usr/local/bin

      - name: Run Docker Scout Security Scan
        run: |
          docker scout cve --image enriquitotupapi/webgoat --format json > scout-report.json

      - name: Upload Docker Scout Report
        uses: actions/upload-artifact@v3
        with:
          name: scout-report
          path: scout-report.json
