name: Docker Scout CVE Scan

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Install Docker Scout CLI
      run: |
        curl -L -o docker-scout.tar.gz https://github.com/docker/scout-cli/releases/download/v0.7.0/docker-scout-linux-amd64-0.7.0.tar.gz
        tar -xzvf docker-scout.tar.gz
        sudo mv docker-scout /usr/local/bin

    - name: Run Docker Scout CVE scan
      run: |
        docker-scout cve --image enriquitotupapi/webgoat:main --format json > scout-report.json

    - name: Upload scan report as artifact
      uses: actions/upload-artifact@v3
      with:
        name: scout-report
        path: scout-report.json
