# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.
#in work and testing and more testing
name: Publish Docker image

on:
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4 # Utilisation de la version stable actuelle

      """- name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adoptopenjdk'

      - name: Build with Maven
        run: ./mvnw.cmd clean install #nani
        with:
          context: ./WebGoat-main"""

      - name: Log in to Docker Hub
        uses: docker/login-action@v2 # Version officielle de l'action Docker login
        with:
          username: enriquitotupapi
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4 # Version officielle de l'action metadata
        with:
          images: enriquitotupapi/webgoat

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v4 # Version officielle de l'action build-push
        with:
          context: ./WebGoat-main
          file: ./WebGoat-main/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
