name: Publish Docker image

on:
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4 # Use the current stable version of checkout

      - name: Log in to Docker Hub
        uses: docker/login-action@v2 # Official Docker login action
        with:
          username: enriquitotupapi
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4 # Official metadata action
        with:
          images: enriquitotupapi/webgoat

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v4 # Official build-push action
        with:
          context: ./WebGoat-main
          file: ./WebGoat-main/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            version=1.0
            description="WebGoat application Docker image"
            maintainer="enriquitotupapi"
            build_date=${{ steps.meta.outputs.timestamp }}
            commit_sha=${{ github.sha }}
