name: Publish Docker image

on:
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'zulu'  # Use the Zulu distribution for JDK 21

      - name: Run Maven clean install
        run: |
          cd ./WebGoat-main  # Navigate to the directory containing the pom.xml
          mvn clean install  # Execute the Maven build

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: enriquitotupapi
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: enriquitotupapi/webgoat

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v4
        with:
          context: ./WebGoat-main
          file: ./WebGoat-main/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            version=1.0
            description="WebGoat application Docker image"
            maintainer="enriquitotupapi"
            build_date=${{ steps.meta.outputs.timestamp }}
            commit_sha=${{ github.sha }}
